
* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; 
  font-family:Arial,Helvetica,sans-serif;
  font-size:1em;
  vertical-align:middle;
  font-weight:normal;}

.swiper-container {
  width: 100%;
  height: 100%; }

.mainbox {
  width: 100%;
  height: 100%; }

.firstpage {
  height: 100%;
  width: 100%;
  background-color: #000; }
.personbox{
  position: relative;
  height: 250px;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -120px;
  padding: 0px 20px;
  border-radius: 20px;
  z-index: 10;
}
.personbox:hover{
    box-shadow: 0px 0px 40px #fff;
    transition: 1s;
}
.firstpage .imgbox{
    width: 100%;
  float: left;
  opacity: 0.5;
}
.personbox h1{
    position: absolute;
    width: 400px;
    font-size: 40px;
    color: white;
    left: 50%;
    top: 30px;
    margin-left: -200px;
    text-align: center;
    letter-spacing: 5px;
}
.personbox p{
  position: relative;
  width: 400px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px auto;
  letter-spacing: 5px;
  text-align: center;
  top: 120px;
  color: white;
}

.secondpage {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #555; 
  }
.secondpage .imgbox2 img{
    width: 100%;
    height: 1200px;;
    float: left;
    opacity: 0.5;
}
  .secondpage .headimg{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../img/57749465_p0.png);
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -300px;
    border-radius: 50%;

  }
  .headimg:hover{
    box-shadow: 0 0 10px #f00;
    transform: scale(1.1);
    transition: 2s;
  }
  .secondpage .message{
 position: absolute;
 border-radius: 10px;
 width: 600px;
 height: 200px;
 left: 50%;
 top: 50%;
 margin-left: -300px;
 text-align: center;
}
.message p{
  font-size: 24px;
  color: #ccc;
}
.thirdpage {
  height: 100%;
  width: 100%;
  background-color: #ccc; 
  .killbox{
    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000;
    border-radius: 20px;
    .leftbox{
      width: 200px;
      height: 400px;
      margin-left:  60px;
      margin-top: 30px;
      h1{
        font-size: 50px;
      }
      p{
        margin-top: 35px;
        font-size: 24px;

      }
    }
    .killmessage{
      position: absolute;
      width: 500px;
      height: 400px;
      top: 56%;
      left: 240px;
      margin-top: -220px;
      padding: 20px 20px;
      div{
        height: 40px;
        width: 400px;
        border-radius: 10px;
        background-color: #ddd;
        margin-top: 32px;
        margin-left: 30px;
      :hover{
          transform: scale(1.1);
          opacity: 0.9;
          transition: 1s;
        }
      a{
        display: block;
        height: 40px;
        width: 400px;
        border-radius: 10px;
        
      }
      .htmlbox{
        width: 300px;
        background-color: burlywood;
      }
      .cssbox{
        width: 280px;
        background-color: rgb(102, 172, 70);
      }
      .jsbox{
        width: 250px;
        background-color: burlywood;
      }
      .psbox{
        width: 330px;
        background-color: burlywood;
      }
      .vuebox{
        width: 230px;
        background-color: burlywood;
      }
      }
    }
  }
}

.fourthpage {
  height: 100%;
  width: 100%;
  background-color: #fff; }

/*# sourceMappingURL=index.css.map */

/* swiperyangshi*/
.swiper-pagination-bullets{
  
}
.swiper-pagination1:after{
  position: absolute;
  border-right: 1px dashed #8c7576;
}
.swiper-pagination1 .swiper-pagination-bullet{
width: 14px;
height: 14px;
background-color: #ccc;
margin: 30px 20px !important;
opacity: 1;
position: relative;
z-index: 100;
}
.swiper-pagination1 .swiper-pagination-bullet-active{
  animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    width: 14px;
    opacity: 1;
    height: 14px;
    background: #ddd;
}
/* 导航了水波效果动画*/ 
@keyframes sploosh3{
  0%{box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -o-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -webkit-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -ms-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -moz-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    background:rgba(255, 255, 255, 0.7)}
    100%{box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -o-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -webkit-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -moz-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -ms-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      background:rgba(255, 255, 255, 1)}
    }
    /* */ 

.swiper-pagination1 .swiper-pagination-bullet:after{
  width: 6px;
    height: 6px;
    content: '';
    border-radius: 50%;
    background: #337ab7;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50%;
    margin-top: -3px;
}