*{
    padding: 0;
    margin:0;
}
html,body{
    width: 100%;
    height: 100%;
}
.swiper-container,{
    width: 100%;
    height: 100%;
}
.mainbox{
    width: 100%;
    height: 100%;
}
.firstpage{
    height: 100%;
    width: 100%;
    background-color: #000;
}
.secondpage{
    height: 100%;
    width: 100%;
    background-color: #555;
}
.thirdpage{
    height: 100%;
    width: 100%;
    background-color: #ccc;
}
.fourthpage{
    height: 100%;
    width: 100%;
    background-color: #fff;
}