@charset "utf-8";
* {
  padding: 0;
  margin: 0; }
a{
   text-decoration:none;
}
html, body {
  width: 100%;
  height: 100%; 
  font-family:Arial,Helvetica,sans-serif;
  font-size:1em;
  vertical-align:middle;
  font-weight:normal;}
.openbtn{
  position: fixed;
  left: 30px;
  top:30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 40;
  background-color: beige;
  .icon {
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    background-color: #555;
    left: 9px;
    top: 24px;
    

  }
}
.icon:before,.icon:after{
  content:"";
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background-color: #555;
}
.icon:before{
  top: -10px;
}
.icon:after{
  top: 9px;
}

.navbar{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ddd;
  z-index: 20;
  overflow: hidden;
  background-color:rgba(204, 204, 204, 0.425);
  .daohanglan{
    position: absolute;
    top: 200px;
    
    div{
      width: 300px;
      height: 80px;
      padding: 0 40px;
      font-size: 24px;
      color: rgb(49, 49, 49);
      line-height: 80px;
      cursor: pointer;
      }
    div:hover{
        background: #4594d8b4;
        transition: 3s;
    }
    
  }
  
  .lianxi{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 70%;
      
    a{
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background-size: 100%;
      margin-top: 220px;
      margin-left: 48px;
      background-repeat: no-repeat;
      span{
        position: absolute;
        display: block;
        left: 56px;
        top: 0px;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0;
      }
      .qqer{
        background-image: url(../img/qqerweima.jpg);
      }
      .weixinger{
        background-image: url(../img/weixingerweima.jpg);
      }
    }
    .qq{
      background-image: url(../img/QQ_48px_1230490_easyicon.net.png);
      }
    .weixing{
      background-image: url(../img/weixinmendian_Wechat_58.854271356784px_1226623_easyicon.net.png);
      
    }
    .github{
      background-image: url(../img/git_logo_media_social_48px_1212972_easyicon.net.png);
      
    }
  }
}
.qq:hover .qqer{
  opacity: 1;
  transition-duration:1s;
}
.weixing:hover .weixinger{
  opacity: 1;
  transition-duration:1s;
}
.github:hover .giter{
  opacity: 1;
  transition-duration:1s;
}

.swiper-container {
  width: 100%;
  height: 100%; }

.mainbox {
  width: 100%;
  height: 100%; }

.firstpage {
  height: 100%;
  width: 100%;
  background-color: #000; }
.personbox{
  position: relative;
  height: 250px;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -120px;
  padding: 0px 20px;
  border-radius: 20px;
  z-index: 10;
  animation: pulse 4s infinite linear;
}
.firstpage:hover .personbox{
    box-shadow: 0px 0px 40px #fff;
    transition: 1s;
}
.firstpage .imgbox{
    width: 100%;
  float: left;
  opacity: 0.5;
}
.personbox h1{
    position: absolute;
    width: 400px;
    font-size: 40px;
    color: white;
    left: 50%;
    top: 30px;
    margin-left: -200px;
    text-align: center;
    letter-spacing: 5px;
}
.personbox p{
  position: relative;
  width: 400px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px auto;
  letter-spacing: 5px;
  text-align: center;
  top: 120px;
  color: white;
}

.secondpage {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #555; 
  }
.secondpage .imgbox2 img{
    width: 100%;
    height: 1200px;;
    float: left;
    opacity: 0.5;
    background-size: 100%;
}
  .secondpage .headimg{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../img/57749465_p0.png);
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -300px;
    border-radius: 50%;

  }
  .headimg:hover{
    box-shadow: 0 0 10px #f00;
    transform: scale(1.1);
    transition: 2s;
  }
  .secondpage .message{
 position: absolute;
 border-radius: 10px;
 width: 800px;
 height: 200px;
 left: 50%;
 top: 50%;
 margin-left: -400px;
 text-align: center;
}
.message p{
  line-height: 40px;
  font-size: 20px;
  color: #ccc;
}
.thirdpage {
  height: 100%;
  width: 100%;
  background-color: #555;
  .imgbox3 img{
    width: 100%;
    height: 1200px;
    float: left;
    opacity: 0.5;
    background-size: 100%;
  }
  .killbox{
    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    background: rgba(204, 204, 204, 0.452);
    border-radius: 20px;
    transform: translate(-50%,-50%);
    

    .leftbox{
      width: 200px;
      height: 400px;
      margin-left:  80px;
      margin-top: 30px;
      h1{
        font-size: 50px;
        margin-bottom: -20px;
      }
      p{
        margin-top: 35px;
        font-size: 34px;
        color: rgb(13, 10, 26);
      }
    }
    .killmessage{
      position: absolute;
      width: 500px;
      height: 400px;
      top: 56%;
      left: 240px;
      margin-top: -220px;
      padding: 20px 20px;
      div{
        height: 40px;
        width: 400px;
        border-radius: 10px;
        background-color: #ddd;
        margin-top: 32px;
        margin-left: 30px;
      :hover{
          transform: scale(1.1);
          opacity: 0.9;
          transition: 1s;
        }
      a{
        display: block;
        height: 40px;
        width: 400px;
        border-radius: 10px;
        
      }
      .htmlbox{
        width: 300px;
        background-color: burlywood;
      }
      .cssbox{
        width: 280px;
        background-color: rgb(102, 172, 70);
      }
      .jsbox{
        width: 250px;
        background-color: rgb(184, 97, 26);
      }
      .psbox{
        width: 330px;
        background-color: rgb(48, 36, 219);
      }
      .vuebox{
        width: 230px;
        background-color: rgb(190, 43, 112);
      }
      }
    }
  }
}

.fourthpage {
  height: 100%;
  width: 100%;
  background-color: #555;
  .imgbox4 img{
    width: 100%;
    height: 1200px;
    float: left;
    opacity: 0.4;
    background-size: 100%;
  }
  .talkbox{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(204, 204, 204, 0.233);
    margin: 0 auto;
    top: 300px;
    .broderleft{
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 50px;
      border-top: 10px solid rgb(250, 162, 62); 
      border-right: 10px solid rgb(250, 162, 62); 
    }
    .borderbotton{
      position: absolute;
      bottom: 0;
      width: 380px;
      height: 50px;
      border-bottom: 10px solid rgb(250, 162, 62); 
      border-right: 10px solid rgb(250, 162, 62); 
      border-left: 10px solid rgb(250, 162, 62); 
    }
    .talkmsg{
      position: absolute;
      width: 300px;
      height: 300px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .msgtittle{
        position: absolute;
        width: 300px;
        height: 60px;
        margin: 0 auto;
        border-bottom: 2px solid rgb(250, 162, 62);
        .mp1{
          position: absolute;
          font-size: 30px;
          color: coral;
          left: 10px;
          top: 8px;
        }
        .mp2{
          position: absolute;
          font-size: 30px;
          color: #fff;
          right: 10px;
          top: 8px;
        }
      }
      .msgbox{
        position: absolute;
        top: 80px;
        height: 200px;
        .p3{
          height: 40px;
         
          em{
            font-size: 24px;
            font-style: normal;
            padding: 0 11px;
            font-weight:500;
        }
        .em1{
          color: rgb(240, 62, 62)
        }
        .em2{
          color: rgb(211, 240, 51)
        }
        .em3{
          color: rgb(62, 240, 151)
        }
        .em4{
          color: rgb(62, 154, 240)
        }
      }
      .p4{
        height: 250px;
        margin-top: 10px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 35px;
      }
      }
    }
  }

}

/*# sourceMappingURL=index.css.map */

/* swiperyangshi*/

.swiper-pagination1:after{
  position: absolute;
  border-right: 1px dashed #8c7576;
}
.swiper-pagination1 .swiper-pagination-bullet{
width: 14px;
height: 14px;
background-color: #ccc;
margin: 30px 20px !important;
opacity: 1;
position: relative;
z-index: 100;
}
.swiper-pagination1 .swiper-pagination-bullet-active{
  animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    width: 14px;
    opacity: 1;
    height: 14px;
    background: #ddd;
}
/* 导航了水波效果动画*/ 
@keyframes sploosh3{
  0%{box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -o-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -webkit-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -ms-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    -moz-box-shadow:0 0 0 0 rgba(37, 143, 184, 1);
    background:rgba(255, 255, 255, 0.7)}
    100%{box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -o-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -webkit-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -moz-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      -ms-box-shadow:0 0 0 10px rgba(37, 143, 184, 0);
      background:rgba(255, 255, 255, 1)}
    }
    /* */ 

.swiper-pagination1 .swiper-pagination-bullet:after{
  width: 6px;
    height: 6px;
    content: '';
    border-radius: 50%;
    background: #337ab7;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50%;
    margin-top: -3px;
}
.musicbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  top: 3%;
  right: 3%;
  z-index: 100;
  border-radius: 50%;
  animation: musicmove 10s infinite linear;
  background-image: url(../img/bg1.jpeg);
  background-size: 100%;
  .stopbtn{
    display: none;
    .stopicon{
      position: absolute;
      background: #ddd;
      width: 5px;
      height: 20px;
      top: 50%;
      left: 39%;
      border-radius: 3px;
      transform: translate(-50%,-50%);
    }
    .stopicon:after{
      content:"";
      position: absolute;
      background: #ddd;
      width: 5px;
      height: 20px;
      top: 50%;
      left: 15px;
      border-radius: 3px;
      transform: translate(-50%,-50%);
    }
  }
  .starbtn{
    display: none;
    .staricon{
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%,-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
    border-left: 15px solid #ccc;
    border-bottom: 10px solid transparent;
    }
  }
}
@keyframes musicmove{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, -50%, 0);
    transform: translate3d(-60%, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
