@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  vertical-align: middle;
  font-weight: normal; }

.openbtn {
  position: fixed;
  left: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 40;
  background-color: beige; }
  .openbtn .icon {
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    background-color: #555;
    left: 9px;
    top: 24px; }

.icon:before, .icon:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background-color: #555; }

.icon:before {
  top: -10px; }

.icon:after {
  top: 9px; }

.navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ddd;
  z-index: 20;
  overflow: hidden;
  background-color: rgba(204, 204, 204, 0.425); }
  .navbar .daohanglan {
    position: absolute;
    top: 200px; }
    .navbar .daohanglan div {
      width: 300px;
      height: 80px;
      padding: 0 40px;
      font-size: 24px;
      color: #313131;
      line-height: 80px;
      cursor: pointer; }
    .navbar .daohanglan div:hover {
      background: #4594d8b4;
      transition: 3s; }
  .navbar .lianxi {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 700px; }
    .navbar .lianxi a {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background-size: 100%;
      margin-top: 220px;
      margin-left: 48px;
      background-repeat: no-repeat; }
      .navbar .lianxi a span {
        position: absolute;
        display: block;
        left: 56px;
        top: 0px;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0; }
      .navbar .lianxi a .qqer {
        background-image: url(../img/qqerweima.jpg); }
      .navbar .lianxi a .weixinger {
        background-image: url(../img/weixingerweima.jpg); }
    .navbar .lianxi .qq {
      background-image: url(../img/QQ_48px_1230490_easyicon.net.png); }
    .navbar .lianxi .weixing {
      background-image: url(../img/weixinmendian_Wechat_58.854271356784px_1226623_easyicon.net.png); }
    .navbar .lianxi .github {
      background-image: url(../img/git_logo_media_social_48px_1212972_easyicon.net.png); }

.qq:hover .qqer {
  opacity: 1;
  transition-duration: 1s; }

.weixing:hover .weixinger {
  opacity: 1;
  transition-duration: 1s; }

.swiper-container {
  width: 100%;
  height: 100%; }

.mainbox {
  width: 100%;
  height: 100%; }

.firstpage {
  height: 100%;
  width: 100%;
  background-color: #000; }

.personbox {
  position: relative;
  height: 250px;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -120px;
  padding: 0px 20px;
  border-radius: 20px;
  z-index: 10; }

.firstpage:hover .personbox {
  box-shadow: 0px 0px 40px #fff;
  transition: 1s; }

.firstpage .imgbox {
  width: 100%;
  float: left;
  opacity: 0.5; }

.personbox h1 {
  position: absolute;
  width: 400px;
  font-size: 40px;
  color: white;
  left: 50%;
  top: 30px;
  margin-left: -200px;
  text-align: center;
  letter-spacing: 5px; }

.personbox p {
  position: relative;
  width: 400px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px auto;
  letter-spacing: 5px;
  text-align: center;
  top: 120px;
  color: white; }

.secondpage {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #555; }

.secondpage .imgbox2 img {
  width: 100%;
  height: 1200px;
  float: left;
  opacity: 0.5;
  background-size: 100%; }

.secondpage .headimg {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url(../img/57749465_p0.png);
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -300px;
  border-radius: 50%; }

.headimg:hover {
  box-shadow: 0 0 10px #f00;
  transform: scale(1.1);
  transition: 2s; }

.secondpage .message {
  position: absolute;
  border-radius: 10px;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  text-align: center; }

.message p {
  font-size: 24px;
  color: #ccc; }

.thirdpage {
  height: 100%;
  width: 100%;
  background-color: #555; }
  .thirdpage .imgbox3 img {
    width: 100%;
    height: 1200px;
    float: left;
    opacity: 0.5;
    background-size: 100%; }
  .thirdpage .killbox {
    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    background: rgba(204, 204, 204, 0.452);
    border-radius: 20px;
    transform: translate(-50%, -50%); }
    .thirdpage .killbox .leftbox {
      width: 200px;
      height: 400px;
      margin-left: 80px;
      margin-top: 30px; }
      .thirdpage .killbox .leftbox h1 {
        font-size: 50px;
        margin-bottom: -20px; }
      .thirdpage .killbox .leftbox p {
        margin-top: 35px;
        font-size: 34px; }
    .thirdpage .killbox .killmessage {
      position: absolute;
      width: 500px;
      height: 400px;
      top: 56%;
      left: 240px;
      margin-top: -220px;
      padding: 20px 20px; }
      .thirdpage .killbox .killmessage div {
        height: 40px;
        width: 400px;
        border-radius: 10px;
        background-color: #ddd;
        margin-top: 32px;
        margin-left: 30px; }
        .thirdpage .killbox .killmessage div :hover {
          transform: scale(1.1);
          opacity: 0.9;
          transition: 1s; }
        .thirdpage .killbox .killmessage div a {
          display: block;
          height: 40px;
          width: 400px;
          border-radius: 10px; }
        .thirdpage .killbox .killmessage div .htmlbox {
          width: 300px;
          background-color: burlywood; }
        .thirdpage .killbox .killmessage div .cssbox {
          width: 280px;
          background-color: #66ac46; }
        .thirdpage .killbox .killmessage div .jsbox {
          width: 250px;
          background-color: #b8611a; }
        .thirdpage .killbox .killmessage div .psbox {
          width: 330px;
          background-color: #3024db; }
        .thirdpage .killbox .killmessage div .vuebox {
          width: 230px;
          background-color: #be2b70; }

.fourthpage {
  height: 100%;
  width: 100%;
  background-color: #555; }
  .fourthpage .imgbox4 img {
    width: 100%;
    height: 1200px;
    float: left;
    opacity: 0.5;
    background-size: 100%; }
  .fourthpage .talkbox {
    position: relative;
    width: 400px;
    height: 400px;
    background: #ccc;
    margin: 0 auto;
    top: 300px; }
    .fourthpage .talkbox .broderleft {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 50px;
      border-top: 10px solid #faa23e;
      border-right: 10px solid #faa23e; }
    .fourthpage .talkbox .borderbotton {
      position: absolute;
      bottom: 0;
      width: 380px;
      height: 50px;
      border-bottom: 10px solid #faa23e;
      border-right: 10px solid #faa23e;
      border-left: 10px solid #faa23e; }
    .fourthpage .talkbox .talkmsg {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

/*# sourceMappingURL=index.css.map */
/* swiperyangshi*/
.swiper-pagination1:after {
  position: absolute;
  border-right: 1px dashed #8c7576; }

.swiper-pagination1 .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #ccc;
  margin: 30px 20px !important;
  opacity: 1;
  position: relative;
  z-index: 100; }

.swiper-pagination1 .swiper-pagination-bullet-active {
  animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  width: 14px;
  opacity: 1;
  height: 14px;
  background: #ddd; }

/* 导航了水波效果动画*/
@keyframes sploosh3 {
  0% {
    box-shadow: 0 0 0 0 #258fb8;
    -o-box-shadow: 0 0 0 0 #258fb8;
    -webkit-box-shadow: 0 0 0 0 #258fb8;
    -ms-box-shadow: 0 0 0 0 #258fb8;
    -moz-box-shadow: 0 0 0 0 #258fb8;
    background: rgba(255, 255, 255, 0.7); }
  100% {
    box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    -o-box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    -webkit-box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    -moz-box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    -ms-box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    background: white; } }
/* */
.swiper-pagination1 .swiper-pagination-bullet:after {
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 50%;
  background: #337ab7;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 50%;
  margin-top: -3px; }

/*# sourceMappingURL=index.css.map */
